@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(68.6deg, rgba(79, 183, 131, 1) 14.4%, rgba(254, 235, 151, 1) 92.7%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(100px);
    width: 90%;
    max-width: 90%;
    min-height: 80vh;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
}

.title {
    /* background-color: khaki; */
    text-align: center;
    padding-block: 1.5rem;
}

.title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    transition: all 0.6s ease;
    cursor: default;
}

.title h1:hover{
    transform: scale(1.15);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-container{
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.tambah{
    min-width: 80vw;
}

.field-container input{
    font-size: x-large;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: none;
    outline: none;
    border-radius: 100px;
    width: 80vw;
    text-align: center;
    transition: all 0.3s ease;
}

input:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    box-shadow: 0px 0px 10px rgba(79, 183, 131, 1);
    padding: 0.9rem 1rem;
}

button{
    padding: 0.5rem 4rem;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: rgb(35, 136, 112);
    color: white;
    font-size: medium;
    font-weight: 600;
    transition: all 0.5s ease;
}

button:hover{
    background-color: rgb(22, 109, 89);
    border: 1px solid rgb(35, 136, 112);
    transform: scale(1.1);
    cursor: pointer;
}


.result{
    min-width: 80vw;
}

.status {
    margin-top: 10px;
    display: none;
}

.result p{
    margin: 0;
    padding: 0;
}